.treasure {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.treasure.box-close {
    background-image: url('../assets/games/treasure-chest-close.png');
}
.treasure.box-small {
    background-image: url('../assets/games/treasure-chest-small.png');
}
.treasure.box-medium {
    background-image: url('../assets/games/treasure-chest-medium.png');
}
.treasure.box-large {
    background-image: url('../assets/games/treasure-chest-large.png');
}
.treasure.box-super {
    background-image: url('../assets/games/treasure-chest-super.png');
}

.treasure.box-close:hover {
    background-image: url('../assets/games/treasure-chest-peek.png');
}

@keyframes shake {
    0% {
        transform: rotate(0deg) translateX(0);
    }

    5% {
        transform: rotate(-5deg) translateX(-2px);
    }

    10% {
        transform: rotate(5deg) translateX(2px);
    }

    15% {
        transform: rotate(-5deg) translateX(-2px);
    }

    20% {
        transform: rotate(5deg) translateX(2px);
    }

    25% {
        transform: rotate(-5deg) translateX(-2px);
    }

    30% {
        transform: rotate(5deg) translateX(2px);
    }

    35% {
        transform: rotate(-5deg) translateX(-2px);
    }

    40% {
        transform: rotate(5deg) translateX(2px);
    }

    45% {
        transform: rotate(-5deg) translateX(-2px);
    }

    50% {
        transform: rotate(-5deg) translateX(-2px);
    }

    55% {
        transform: rotate(-4deg) translateX(-2px);
    }

    60% {
        transform: rotate(4deg) translateX(2px);
    }

    65% {
        transform: rotate(-4deg) translateX(-2px);
    }

    70% {
        transform: rotate(4deg) translateX(2px);
    }

    75% {
        transform: rotate(-4deg) translateX(-2px);
    }

    80% {
        transform: rotate(4deg) translateX(2px);
    }

    85% {
        transform: rotate(-4deg) translateX(-2px);
    }

    90% {
        transform: rotate(4deg) translateX(2px);
    }

    95% {
        transform: rotate(-4deg) translateX(-2px);
    }

    100% {
        transform: rotate(0deg) translateX(0);
    }
}

.treasure.shake {
    animation: shake 2s ease;
}

.progress-bar {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .progress {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .tooltip-progress {
    position: absolute;
    top: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .tooltip-progress::before {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 10px;
    margin: auto;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    z-index: 1;
}

/* game background */
.game-bg-silver {
    background: linear-gradient(
        180deg,
        #9aa9b3 0%,
        #8a9fac 25%,
        #7d95a5 50%,
        #748c9c 75%,
        #9aa9b3 100%
    );
    border: 2px solid #748c9c;
}

.game-bg-gold {
    background: linear-gradient(
        180deg,
        #f7bf51 0%,
        #f5bb48 25%,
        #f1b53c 50%,
        #eeae2e 75%,
        #f7bf51 100%
    );
}

.game-bg-gold:hover {
    background: linear-gradient(
        180deg,
        #eeae2e 0%,
        #f1b53c 25%,
        #f5bb48 50%,
        #f7bf51 75%,
        #eeae2e 100%
    );
}
.game-bg-gold:disabled {
    background: rgba(238, 174, 46, 0.5);
    border: 2px solid transparent;
}

.game-bg-diamond {
    background: linear-gradient(
        180deg,
        #3d2081 0%,
        #3b1d83 25%,
        #321579 50%,
        #2d1072 75%,
        #3d2081 100%
    );
}
.game-bg-diamond:hover {
    background: linear-gradient(
        180deg,
        #2d1072 0%,
        #321579 25%,
        #3b1d83 50%,
        #3d2081 75%,
        #2d1072 100%
    );
}
.game-bg-diamond:disabled {
    background: linear-gradient(
        180deg,
        #3d2081 0%,
        #3b1d83 25%,
        #321579 50%,
        #2d1072 75%,
        #3d2081 100%
    );
}

.game-bg-legend {
    background: linear-gradient(
        180deg,
        #fa5b2c 0%,
        #e94c1d 25%,
        #cf390c 50%,
        #bd340c 75%,
        #fc5d2e 100%
    );
    border: 2px solid #ab2903;
}

.item-bg-silver {
    background: rgba(32, 34, 37, 0.5);
    border: 1px solid #6d6d6d;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(87, 88, 89, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(87, 88, 89, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(87, 88, 89, 0.2);
}

.item-bg-gold {
    background: rgba(157, 120, 4, 0.1);
    border: 1px solid #ffd142;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 208, 66, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255, 208, 66, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(255, 208, 66, 0.2);
}

.item-bg-diamond {
    background: rgba(42, 14, 101, 0.1);
    border: 1px solid #b274c7;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(139, 60, 165, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(139, 60, 165, 025);
    box-shadow: 0px 0px 5px 2px rgba(139, 60, 165, 0.2);
}
.item-bg-legendary {
    background: rgba(147, 10, 24, 0.3);
    border: 1px solid #fa2d41;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(165, 31, 44, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(165, 31, 44, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(165, 31, 44, 0.5);
}

/* gacha */
.gacha-static {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.gacha {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.gacha.box-close:hover,
.gacha-static.box-close:hover {
    background-image: url('../assets/games/gacha-treasure-peek.png');
    transition: all;
    animation-duration: 300;
}

.gacha.box-close,
.gacha-static.box-close {
    background-image: url('../assets/games/gacha-treasure-close.png');
}
.gacha.box-open {
    background-image: url('../assets/games/gacha-treasure-open.png');
}

.gacha.shake {
    animation: shake 2s ease;
}
.gacha .reward {
    width: 75px;
    height: 75px;
    border-radius: 6px;
}

@keyframes position {
    0% {
        transform: translateY(120px);
        border-radius: 100%;
    }

    90% {
        transform: translateY(5px);
        border-radius: 100%;
    }

    100% {
        transform: translateY(0px);
        border-radius: 6px;
    }
}

@keyframes size {
    0% {
        width: 10px;
        height: 30px;
    }

    100% {
        width: 75px;
        height: 75px;
    }
}

.gacha .reward.bounce {
    animation:
        position 0.5s ease,
        size 0.8s ease;
}
