.treasure {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.treasure.box-close {
    background-image: url('../assets/games/treasure-chest-close.png');
}
.treasure.box-small {
    background-image: url('../assets/games/treasure-chest-small.png');
}
.treasure.box-medium {
    background-image: url('../assets/games/treasure-chest-medium.png');
}
.treasure.box-large {
    background-image: url('../assets/games/treasure-chest-large.png');
}
.treasure.box-super {
    background-image: url('../assets/games/treasure-chest-super.png');
}

.treasure.box-close:hover {
    background-image: url('../assets/games/treasure-chest-peek.png');
}

@keyframes shake {
    0% {
        transform: rotate(0deg) translateX(0);
    }

    5% {
        transform: rotate(-5deg) translateX(-2px);
    }

    10% {
        transform: rotate(5deg) translateX(2px);
    }

    15% {
        transform: rotate(-5deg) translateX(-2px);
    }

    20% {
        transform: rotate(5deg) translateX(2px);
    }

    25% {
        transform: rotate(-5deg) translateX(-2px);
    }

    30% {
        transform: rotate(5deg) translateX(2px);
    }

    35% {
        transform: rotate(-5deg) translateX(-2px);
    }

    40% {
        transform: rotate(5deg) translateX(2px);
    }

    45% {
        transform: rotate(-5deg) translateX(-2px);
    }

    50% {
        transform: rotate(-5deg) translateX(-2px);
    }

    55% {
        transform: rotate(-4deg) translateX(-2px);
    }

    60% {
        transform: rotate(4deg) translateX(2px);
    }

    65% {
        transform: rotate(-4deg) translateX(-2px);
    }

    70% {
        transform: rotate(4deg) translateX(2px);
    }

    75% {
        transform: rotate(-4deg) translateX(-2px);
    }

    80% {
        transform: rotate(4deg) translateX(2px);
    }

    85% {
        transform: rotate(-4deg) translateX(-2px);
    }

    90% {
        transform: rotate(4deg) translateX(2px);
    }

    95% {
        transform: rotate(-4deg) translateX(-2px);
    }

    100% {
        transform: rotate(0deg) translateX(0);
    }
}

.treasure.shake {
    animation: shake 2s ease;
}

.progress-bar {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .progress {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .tooltip-progress {
    position: absolute;
    top: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .tooltip-progress::before {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 10px;
    margin: auto;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    z-index: 1;
}

/* game background */
.game-bg-silver {
    background: linear-gradient(
        180deg,
        #9aa9b3 0%,
        #8a9fac 25%,
        #7d95a5 50%,
        #748c9c 75%,
        #9aa9b3 100%
    );
    border: 2px solid #748c9c;
}

.game-bg-gold {
    background: linear-gradient(
        180deg,
        #f7bf51 0%,
        #f5bb48 25%,
        #f1b53c 50%,
        #eeae2e 75%,
        #f7bf51 100%
    );
}

.game-bg-gold:hover {
    background: linear-gradient(
        180deg,
        #eeae2e 0%,
        #f1b53c 25%,
        #f5bb48 50%,
        #f7bf51 75%,
        #eeae2e 100%
    );
}

.game-bg-diamond {
    background: linear-gradient(
        180deg,
        #3d2081 0%,
        #3b1d83 25%,
        #321579 50%,
        #2d1072 75%,
        #3d2081 100%
    );
}
.game-bg-diamond:hover {
    background: linear-gradient(
        180deg,
        #2d1072 0%,
        #321579 25%,
        #3b1d83 50%,
        #3d2081 75%,
        #2d1072 100%
    );
}

.game-bg-legend {
    background: linear-gradient(
        180deg,
        #fa5b2c 0%,
        #e94c1d 25%,
        #cf390c 50%,
        #bd340c 75%,
        #fc5d2e 100%
    );
    border: 2px solid #ab2903;
}

/* gacha */
.gacha {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.gacha.box-close:hover {
    background-image: url('../assets/games/gacha-treasure-peek.png');
    transition: all;
    animation-duration: 300;
}

.gacha.box-close {
    background-image: url('../assets/games/gacha-treasure-close.png');
}
.gacha.box-open {
    background-image: url('../assets/games/gacha-treasure-open.png');
}

.gacha.shake {
    animation: shake 2s ease;
}
.gacha .reward{
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

@keyframes position {
    0% {
        transform: translateY(120px);
        border-radius: 100%;
    }

    90% {
        transform: translateY(5px);
        border-radius: 100%;
    }

    100% {
        transform: translateY(0px);
        border-radius: 6px;
    }
}

@keyframes size {
    0% {
        width: 10px;
        height: 30px;
    }

    100% {
        width: 60px;
        height: 60px;
    }
}

.gacha .reward.bounce{
    animation: position 0.5s ease, size 0.8s ease;
}