@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import './styles/theme.css'; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* ===============================
   * BACKGROUND
   =============================== */
    --bg-1: #f9f9f9;
    --bg-2: #ffffff;
    --bg-3: #f2f2f5;

    /* ===============================
   * TEXT
   =============================== */
    --text-primary: #1c1c1e;
    --text-secondary: #3a3a3c;
    --text-muted: #8e8e93;

    /* ===============================
   * ACCENT (EMERALD)
   =============================== */
    --accent: #22c55e;
    --accent-hover: #4ade80;
    --accent-active: #15803d;
    --accent-subtle: #dcfce7;
    --accent-secondary: #16a34a;
}

[data-theme='dark'] {
    /* ===============================
   * BACKGROUND
   =============================== */
    --bg-1: #0e0e11;
    --bg-2: #16161a;
    --bg-3: #1e1e24;

    /* ===============================
   * TEXT
   =============================== */
    --text-primary: #f5f5f7;
    --text-secondary: #a5a5ab;
    --text-muted: #6e6e73;

    /* ===============================
   * ACCENT (EMERALD)
   =============================== */
    --accent: #4ade80;
    --accent-hover: #6bea9b;
    --accent-active: #267e48;
    --accent-subtle: #123222;
    --accent-secondary: #97ffbd;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
}

/* static/scroll.css */
body::-webkit-scrollbar {
    width: 8px;
    /* Width of the vertical scrollbar */
}

body::-webkit-scrollbar-track {
    background: #a5a5ab;
    /* Color of the track area */
}

body::-webkit-scrollbar-thumb {
    background-color: #1e1e24;
    /* Color of the scroll thumb */
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #6e6e73;
    /* Color when hovering over the thumb */
}

button {
    cursor: pointer;
}

/* button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

.border-outset {
    border-style: outset;
}

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 2px;
        /* custom width */
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #0e0e11;
        /* custom track color */
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #16161a;
        /* custom thumb color */
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #1e1e24;
        /* custom thumb color on hover */
    }

    /* For Firefox */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #16161a rgba(14, 14, 7, 0.1);
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.bgGradient {
    background: #4ade80;
    background: linear-gradient(
        160deg,
        rgba(74, 222, 128, 0.4) 0%,
        rgba(22, 22, 26, 0) 40%
    );
}

/* typography */
@layer components {
    .ty-super {
        @apply text-title-xxl font-extrabold leading-tight;
    }

    /* ===== HEADINGS ===== */
    .ty-h1 {
        @apply text-title-xl font-bold leading-tight;
    }

    .ty-h2 {
        @apply text-title-lg font-semibold leading-tight;
    }

    .ty-h3 {
        @apply text-title-md font-semibold leading-snug;
    }

    .ty-h4 {
        @apply text-title-sm font-medium leading-snug;
    }

    .ty-h5 {
        @apply text-title-xs font-medium leading-snug;
    }

    /* ===== BODY ===== */
    .ty-body-xl {
        @apply text-text-xxl font-semibold leading-relaxed;
    }

    .ty-body-lg {
        @apply text-text-xl font-semibold leading-relaxed;
    }

    .ty-body {
        @apply text-text-lg font-medium leading-normal;
    }

    .ty-body-sm {
        @apply text-text-md font-regular leading-normal;
    }

    /* ===== LABEL / META ===== */
    .ty-label {
        @apply text-text-sm font-light tracking-wide;
    }

    .ty-caption {
        @apply text-text-xs font-extralight;
    }
}

/* table */
table tr td,
table tr th {
    padding: 5px 10px;
}
